@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap');
:root{
    --titulo-principal: font-family: "Imperial Script", cursive;
    --color-titulo: #3E5F44;
    --color-strong: #5E936C;
    --texto: #93DA97;
    --fundo: #E8FFD7;
}